@use './_colors' as c;

.button {
	padding: 1rem 2rem;
	border: 1px solid c.$main-color;
	border-radius: 50px;
	width: fit-content;
	text-decoration: none;
	color: c.$light-font-color;
	transition: background-color 0.3s;
	cursor: pointer;
	&:hover {
		background-color: c.$main-color;
		color: c.$light-font-color;
	}

	&--dark {
		color: c.$dark-font-color;
	}

	&--width {
		width: 200px;
		text-align: center;
	}

	&--active {
		background-color: c.$main-color;
		color: c.$light-font-color;
	}
}
.block {
	position: absolute;
	height: 60px;
	width: 60%;
	background-color: c.$light-background-color;
	transform: skew(-45deg);
	z-index: 100;

	&--right {
		right: -50px;
	}

	&--bottom {
		bottom: 0;
	}
	&--left {
		left: -50px;
	}

	&--top {
		top: 0;
	}

	&--dark {
		background-color: c.$dark-background-color;
	}
}

.section {
	padding: 5rem 1rem;

	&__heading {
		color: c.$main-color;
		text-transform: uppercase;
		font-size: 2rem;
	}

	&--dark {
		background: c.$dark-background-color;
	}
}

@media (min-width: 576px) {
	.button {
		padding: 1.5rem 3rem;
		font-size: 2rem;
	}

	.section {
		padding: 5rem 2rem;
		&__heading {
			font-size: 3rem;
		}
	}
}

@media (min-width: 768px) {
	.button {
		padding: 2rem 4rem;
		font-size: 2.2rem;
	}

	.section {
		&__heading {
			font-size: 4rem;
		}
	}
}
@media (min-width: 992px) {
	.button {
		padding: 2.5rem 5rem;
		font-size: 2.4rem;
	}
	.section {
		padding: 10rem 2rem;
		&__heading {
			font-size: 5rem;
		}
	}
}

@media (min-width: 1440px) {
	.section {
		padding: 10rem 0;
	}
}
