@use './_colors' as c;

.contact {
	position: relative;
	color: c.$light-font-color;
	overflow-x: hidden;
	.wrapper {
		margin-top: 5rem;
	}

	&__bar {
		margin: 2rem 0;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		a {
			padding-right: 2rem;
			text-decoration: none;
			color: c.$light-font-color;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: fit-content;
		gap: 3rem;
		div {
			display: flex;
			flex-wrap: wrap;
			gap: 2rem;
			p {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				label {
					&::after {
						content: ' *';
						color: red;
					}
				}
			}

			input,
			textarea {
				padding: 1rem 2rem;
				font-family: Arial, Helvetica, sans-serif;

				border: 1px solid c.$input-stroke;
				border-radius: 12px;
				resize: vertical;
				min-width: 220px;

				&:focus {
					outline: none;
					border: 1px solid c.$input-stroke-focus;
				}
			}

			textarea {
				display: block;
				width: 100%;
				padding: 1rem 2rem;
				font-family: Arial, Helvetica, sans-serif;
				border: 1px solid c.$input-stroke;
				border-radius: 12px;
				resize: vertical;

				&:focus {
					outline: none;
					border: 1px solid c.$input-stroke-focus;
				}
			}
		}
		.textarea-box {
			width: 100%;
			textarea {
			}
		}
	}
}
