// FONT COLORS

$main-color: #c97c00;
$light-font-color: #ffffff;
$dark-font-color: #45505e;

// BACKGROUND COLORS

$light-background-color: #fff7ee;
$dark-background-color: #1e1e1e;

$nav-bg: rgb(17, 17, 17);

// WITH ALPHA

$alpha-dark-bg: rgba(30, 30, 30, 0.7);

// SHADOW

$text-shadow: #000;
