@use './_colors' as c;

.button {
	padding: 1rem 2rem;
	border: 1px solid c.$main-color;
	border-radius: 50px;

	width: fit-content;

	text-decoration: none;
	color: c.$light-font-color;

	transition: background-color 0.3s;
	&:hover {
		background-color: c.$main-color;
		color: c.$light-font-color;
	}
}

@media (min-width: 576px) {
	.button {
		padding: 1.5rem 3rem;
		font-size: 2rem;
	}
}

@media (min-width: 768px) {
	.button {
		padding: 2rem 4rem;
		font-size: 2.2rem;
	}
}
@media (min-width: 992px) {
	.button {
		padding: 2.5rem 5rem;
		font-size: 2.4rem;
	}
}
