@use './_colors' as c;

.header {
	position: relative;
	width: 100%;
	height: 100vh;

	overflow: hidden;

	&__image {
		position: absolute;
		inset: 0;
		background-size: cover;
		background-position: center;
		background-image: url('../img/small-hero.jpg');
	}

	&__shadow {
		position: absolute;
		display: flex;
		align-items: center;
		inset: 0;
		background-color: c.$alpha-dark-bg;
	}

	&__text-box {
		padding: 1rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;

		max-width: 700px;
	}

	&__title {
		font-family: 'Life Savers', serif;
		h1 {
			font-size: 4rem;
			color: c.$main-color;
		}

		h2 {
			font-size: 2rem;
			color: c.$light-font-color;
		}
	}

	&__description {
		color: c.$light-font-color;
		font-size: 1.8rem;
	}
}

@media (min-width: 576px) {
	.header {
		&__image {
			background-image: url('../img/big-hero.jpg');
		}

		&__text-box {
			padding: 2rem;
		}

		&__title {
			h1 {
				font-size: 8rem;
			}

			h2 {
				font-size: 3rem;
			}
		}

		&__description {
			font-size: 2.2rem;
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__text-box {
			padding: 3rem;
		}

		&__title {
			h1 {
				font-size: 10rem;
			}

			h2 {
				font-size: 4rem;
			}
		}

		&__description {
			font-size: 2.4rem;
		}
	}
}

@media (min-width: 992px) {
	.header {
		&__text-box {
			padding: 4rem;
		}

		&__title {
			h1 {
				font-size: 12rem;
			}

			h2 {
				font-size: 5rem;
			}
		}

		&__description {
			font-size: 2.6rem;
		}
	}
}

@media (min-width: 1440px) {
	.header {
		&__text-box {
			padding: 0;
		}
	}
}
