@use './_colors' as c;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding: 75px;
}

body {
	font-size: 1.6rem;
	font-family: Arial, Helvetica, sans-serif;
	background-color: c.$light-background-color;
}

.wrapper {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
}
